<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppointmentWebApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppointmentWebApp.Web.styles.css" asp-append-version="true" />
    <!-- Google Fonts Links For Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="logo" href="#">Appointment App<span>.</span></a>
            @{
                var session = Context.Session.GetString("UserName");
                var role = Context.Session.GetInt32("Role");
                if (session != null)
                {
                    <ul class="menu-links">
                        <span id="close-menu-btn" class="material-symbols-outlined">close</span>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Appointment" asp-action="Index">Appointment</a></li>
                        @if (role != null && role == 1) {
                            <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                            <li><a asp-area="" asp-controller="Setting" asp-action="Index">Setting</a></li>
                        }
                        <li><b>@session</b></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a></li>
                    </ul>
                }
            }
            <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AppointmentWebApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
